.placeholderBanner {
  background-image: url("/assets/banners/placeholderBanner.webp");
}
.gridNavbar {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 1fr;
}

@media screen and (max-width: 374px) {
  .mobileMiniCarouselFeatured {
    font-size: 14px;
  }
}
